.docker/data
.docker/.DS_Store
**/__pycache__
.env
.idea
**/.DS_Store
src/core/speaker_identification/models
src/core/speaker_diarization/speaker_diarization
src/core/speech_to_text/pretrain915_finetune2
