# Web api
Flask==1.1.2
# uWSGI==2.0.18
Flask-Cors==3.0.8
Flask-Script==2.0.6
Flask-Migrate==2.5.3
flask-restful==0.3.8
Flask-SQLAlchemy==2.5.1
flask-jwt-extended
flask-bcrypt
psycopg2-binary==2.9.2
nanoid==2.0.0
flasgger

# AI
torch==1.11.0
torchvision
torchaudio
transformers==4.20.1
Tensorflow==2.8.2
numpy
# scipy
# pandas
# keras==2.4.3
# librosa

# Queue
celery[redis]
flower==1.0.0
